* {
    margin: 0;
    padding: 0;
}

/*=============== menu ===============*/
.game-menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.game-menu-field {
    width: 20vw;
    position: relative;
    top: 67%;
    left: 40%;
}

.game-menu-item {
    color: white;
    height: 5vh;
    width: 18vw;
    font-size: 4vh;
    text-align: center;
    padding: 1vh;
    margin-bottom: 1vh;
    background-color: rgba(39, 21, 28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.game-menu-item:hover {
    transform: scale(1.2);
    transition: 100ms;
}

/*=============== playground ===============*/
.game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
}

/*=============== settings ===============*/
.settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.settings-login {
    width: 25vw;
    height: 43vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.settings-register {
    width: 25vw;
    height: 51vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.settings-title {
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.settings-username {
    /*
    display: block;
    height: 7vh;
    */
}

.settings-password {
    /*
    display: block;
    height: 7vh;
    */
}

.settings-submit {
    /*
    display: block;
    height: 7vh;
    */
}

.settings-item {
    display: block;
    height: 8vh;
}

.settings-item > input {
    width: 90%;
    line-height: 4vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings-item > button {
    width: 90%;
    line-height: 4vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
}

.settings-errormsg {
    display: inline-block;
    float: left;
    color: red;
    font-size: 1.6vh;
    padding-left: 1.2vw;
}

.settings-option {
    display: inline-block;
    float: right;
    color: white;
    font-size: 2vh;
    padding-right: 1.2vw;
    cursor: pointer;
}

.settings-acwing > img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vw;
    cursor: pointer;
}

.settings-acwing > div {
    display: block;
    color: white;
    font-size: 1.4vh;
    text-align: center;
}
