{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="icon" href="{% static 'image/settings/icon.jpg'%}">
</head>

<body>
    <div id="container"></div>
    <script type="module">
        import {Game} from "{% static 'js/dist/game.js' %}"
        $(document).ready(function() {
            let game = new Game("container", null, "{{ access }}", "{{ refresh }}");
        });
    </script>
</body>
